#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(247, 230, 230, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 17px;
    background-color: rgba(31, 46, 61, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(237, 220, 220, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(237, 242, 245, 1);
    background-color: rgba(40, 150, 156, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(237, 23, 66, 1);
    background-color: rgba(245, 240, 240, 1);
    background: -webkit-linear-gradient(top, rgba(207, 182, 182, 1) 0%, rgba(245, 240, 240, 1) 100%);
    background: linear-gradient(to bottom, rgba(207, 182, 182, 1) 0%, rgba(245, 240, 240, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #f5f0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #f5f0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #f5f0f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #1f2e3d;
}

.panel-default > .panel-heading
{
    background-color: rgba(31, 46, 61, 1);
    color:white;
}

.list-group
{
    margin-top: 5px;
}

h4
{
    font-weight: bold;

}

.row
{
    width:100%;

}

.table
{
    background-color:#f5f0f0;
}

.dropdown-menu
{
    color: rgba(245, 233, 233, 1);
    background-color: rgba(40, 150, 156, 1)
}

.dropdown-menu>li>a {
    color: rgba(245, 233, 233, 1);
    background-color:  rgba(40, 150, 156, 1);
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: rgba(245, 233, 233, 1);
    background-color: #1f2e3d;
}

.loading
{
    margin-top: 100px;

}

.pagination
{
    margin-left: 30%;
}

.pos{
    position: fixed;
}

.map{
    height: 300px;
    width: 1050px;
    overflow: auto;
    white-space: nowrap;
    position: fixed;
}