<div ng-include="'partials/navbar.html'"></div>
<div class="container center-block">

        <div class="col-sm-12 col-md-12 col-lg-12 row">
            <div id="map" class="map col-sm-12 col-md-12 col-lg-12"></div>
        </div>


</div>

<div class="container center-block">


        <div class="col-sm-12 col-md-12 col-lg-12 row">
            <h1 class="page-header">
                Welcome to Social Compass!
            </h1>
            <div  ng-repeat = "e in dataPerPage" class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="/#event/{{e.id}}/{{e.latitude}}/{{e.longitude}}">{{e.title}}</a></h2>
                    </div>
                    <div class="panel-body">
                        <div class="image-body" ng-if="e.image==null">
                            <img src="../images/no-image.jpg" height="70" width="100"/>
                        </div>

                        <div class="image-body" ng-if="e.image!==null">
                           <img src="{{e.image.medium.url}}"/>
                        </div>
                        <div class="event-info">
                            <p>{{e.title}} is going to held at {{e.venue_name}} in {{e.city_name}} </p>
                            <a href="/#event/{{e.id}}/{{e.latitude}}/{{e.longitude}}"  class="btn btn-default">Learn More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>        

    <div class="container center-block">
        <ul class="pagination">
            <li ng-repeat="i in array" ng-click="paginate($event,i)"  ng-class="{'active': isActive(i)}"><a>{{i}}</a></li>
        </ul>
    </div>
<div class="container center-block">
    
    <img class="loading center-block" ng-if="loading" src="../images/gears.gif" height="150" width="150"/>
</div>