<div class="container-fluid center-block">

    <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">Brand</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="form-container container center-block table-responsive ">


            <div class="row">
                <div class="col-md-6">
                    <label>Gender</label>
                </div>

                <div class="col-md-6">
                    <select  ng-model="pref.gender" id="gender" required>
                        <option >Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>

    <br/>


            <div class="row">
                <div class="col-md-6">
                    <label>City</label>
                </div>

                <div class="col-md-6">
                    <select ng-model="pref.city" id="city" required>
                        <option selected="selected">Boston</option>
                        <option>New York</option>
                        <option>San Francisco</option>
                        <option>Chicago</option>
                        <option>Seattle</option>
                    </select>
                </div>
            </div>

    <br/>


            <div class="row">
                <div class="col-md-6">
                    <label>Add Category Preferences</label>
                </div>

                <div class="col-md-6">
                    <select id="category">
                        <option id="art" selected="selected">Art Galleries</option>
                        <option id="business" selected="selected">Business & Networking</option>
                        <option id="music">Concerts</option>
                        <option id="conference">Conferences</option>
                        <option id="comedy">Comedy</option>
                        <option id="learning_education">Education</option>
                        <option id="movies_film">Films</option>
                        <option id="family_fun_kids">Kids</option>
                        <option id="festivals_parades">Festivals</option>
                        <option id="food">Food & Wine</option>
                        <option id="fundraisers">Fundraising</option>
                        <option id="holiday">Holiday</option>
                        <option id="books">Literary & Books</option>
                        <option id="attractions">Museums and Attractions</option>
                        <option id="community">Neighbourhood</option>
                        <option id="singles_social">Nightlife & Singles</option>
                        <option id="outdoors_recreation">Outdoors & Recreation</option>
                        <option id="animals">Pets</option>
                        <option id="religion_spirituality">Religion and Spirituality</option>
                        <option id="technology">Technology</option>
                        <option id="">Other</option>
                    </select>

                    <button ng-click="addCategory()"><span class="glyphicon glyphicon-plus"></span></button>
                </div>

            </div>

    <br/>

        <div class="row">
            <div class="button col-md-3" ng-repeat="item in items">
                <button ng-click="clearItems(item)" class="btn category btn-danger glpyhicon glyphicon glyphicon-remove">{{item.categoryText}}</button>
            </div>

        </div>

    <br/>

        <div class="button center-block">
            <button ng-click="savePreferences(pref)" class="btn btn-success">Save Preferences</button>
        </div>

        <br/>


        <div ng-if="error==false" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong>Your preferences have been saved.Redirecting to Home!
        </div>

        <div ng-if="error==true" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong>An Error occured please try again.
        </div>


</div>

