<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand">SocialCompass</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#/">Home</a>
                </li>
                <li><a ng-if="!loggedin" href="/#login">Login</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="loggedin">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/profile" style="padding-left: 40%">Profile</a></li>
                        <li><a ng-click="logout()" style="padding-left: 40%">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="myCarousel" class="carousel slide col-md-9" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <br/>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/band.jpg" alt="Chania" >
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="images/edm.jpg" alt="Flower" >
                    <div class="carousel-caption">
                    </div>
                </div>

                <div class="item">
                    <img src="images/wine.jpg" alt="Flower" >
                    <div class="carousel-caption">
                    </div>
                </div>

                <div class="item">
                    <img src="images/social.jpg" alt="Flower">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-container  col-md-3">
            <form name="frm" >
                <legend>Sign Up!</legend>


                <div class="form-group">
                    <input placeholder="First Name" class="form-control" name="fname" ng-model="user.fname" required />
                    <span ng-show="frm.fname.$dirty && frm.fname.$error.required">First Name is required</span>
                </div>
                <br />


                <div class="form-group">
                    <input placeholder="Last Name" class="form-control" name="lname" ng-model="user.lname" required />
                    <span  ng-show="frm.lname.$dirty && frm.lname.$error.required">Last name is required</span>
                </div>
                <br />


                <div class="form-group">
                    <input type="email"  placeholder="Email" class="form-control" name="email" ng-model="user.email" required />
                    <span   ng-show="frm.email.$dirty && frm.email.$error.required">Email is required</span>
                    <span  ng-show="frm.email.$dirty && frm.email.$error.email">Not a valid email</span>
                </div>

                <br />

                <div class="form-group">
                    <input type="password" placeholder="Enter a password between 8 and 25 chars" class="form-control" name="password" ng-model="user.password" ng-pattern="/^[a-zA-Z0-9]*$/" ng-minlength="8" ng-maxlength="25" required />
            <span ng-show="frm.password.$error.pattern">
                Please use only alpha numeric characters.
           </span>
                    <span  ng-show="frm.password.$dirty && frm.password.$error.required">Password is required.</span>
                    <span ng-show="frm.password.$dirty && frm.password.$error.minlength">Too Short!.</span>
                    <span  ng-show="frm.password.$dirty && frm.password.$error.maxlength">Too Long!.</span>
                </div>

                <br />

                <div class="form-group">
                    <input type="password" placeholder="Enter a password between 8 and 25 chars" class="form-control" ng-model="user.confirmpassword" name="passwordconfirm" compare-to="user.password"  ng-minlength="8" ng-maxlength="25" required />
                    <span  ng-show="frm.password.$dirty && frm.password.$error.require">Password is required.</span>
            <span ng-show="frm.passwordconfirm.$error.compareTo">
            Confirmation password is required, and must match.
            </span>
                </div>

                <br />

                <div class="form-group">
                    <button ng-disabled="frm.$invalid" ng-click="register(user)" class="btn btn-primary">Register</button>
                </div>
            </form>
            <h4>Already have an Account?</h4>
            <a  role="button"   href="#login"><h4 style="color: #66D269">Login</h4></a >
            <br/>
        </div>
    </div>
</div>



